@font-face{
	font-family: "Oswald";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/oswald-semibold.woff2") format("woff2");
}

@font-face{
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/oswald-regular.woff2") format("woff2");
}
