/**
 * Speed vs. Speed to Market talk theme.
 *
 * By Jeremy Wagner, https://jeremywagner.me
 */

// Variables
$grey: #323031;
$darkGrey: darken($grey, 5%);

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $grey;
$mainColor: #d3d0cb;
$headingColor: #fdb833;

$mainFontSize: 42px;
$mainFont: "Oswald", sans-serif;
$headingFont: "Oswald", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

// Heading Sizes
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Theme-specific styles here
.speed-vs-speed-to-market{
	background-image: url("/img/bg.svg");
	background-size: 123px 150px;
}

.reveal{
	section{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			line-height: 1.2;
		}

		img{
			border: 0;
			background: transparent;
			max-width: percentage(2 / 3);
			box-shadow: 8px 8px 16px rgba(0, 0, 0, .333);
		}

		.big{
			width: 100%;
			max-width: none;
		}

		.title-card{
			max-width: 90%;
			display: block;
			margin: 0 auto 32px;
		}

		.no-shadow{
			box-shadow: none;
		}

		.centered{
			text-align: center;
		}

		.invisible{
			visibility: hidden;
		}
	}
}
